Añadir comentario: <br/> 

<form method="POST" action="/quizzes/<%=quizid%>/comments/"> 
	<input type="text" id="comment" name="comment[texto]" value=""/> <br/>
	<button type="submit">Enviar</button>
</form>