<p>Mi nombre es José Mª Casablanca y soy analista funcional.</p>
<p>Soy extremeño, aunque afincado en Madrid. Principalmente elaboro documentación funcional, aunque siempre me gusta estar al tanto de la tecnología.</p>