<p>Mi nombre es Adrián Ferrera González y soy desarrollador web.</p>
<p>Vivo en Santa Cruz de Tenerife y mi vida es la programación, esto es un mero ejemplo de lo que hago en mis ratos libres, aprender e investihar nuevas tecnologías</p>
<img src="images/avatar.jpg">