<p>Mi nombre es José Mª Casablanca y soy analista.</p>
<p>Soy nacido en Extremadura, aunque trabajo en Madrid. La mayor parte de mis tareas laborales se dedican a el análisis, aunque nunca me gusta dejar de lado la parte técnica</p>
<img src="images/avatar.jpg">