<h2>Login</h2>
<form method='POST' action='/login'>
	<div class="field">
	<input type="text" id="login" name="login" placeholder="Username" size="30" />
	</div>
	<div class="field">
		<input type="password" id="password" name="password" placeholder="password" size="30"/>
	</div>
	<div class="actions">
		<input type="submit" name="commit" value="Login"/>
	</div>	
</form>